# Desenvolvimento e Código Fonte
src/
tests/
vitest.config.ts
tsconfig.json
.editorconfig
tsup.config.ts

# Logs e Dependências
node_modules/
npm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Lint e Formatação
.eslintcache
.eslintrc*
.prettierrc
.prettierignore

# Git e Sistema
.git/
.gitignore
.DS_Store
Thumbs.db